:root {
  --font-main: 'Yusei Magic', cursive;
  --color-dark: #1E1E1E;
  --color-red: #FF3131;
  --color-pink: #EA3166;
  --color-teal: #08BAB2;
  --color-yellow: #FFDE59;
  --color-purple: #5E17EB;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-main);
  background-color: #fff;
  color: var(--color-dark);
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
