@import "tailwindcss";

@theme {
  --font-main: 'Yusei Magic', cursive;
  --color-dark: #1E1E1E;
  --color-red: #FF3131;
  --color-pink: #EA3166;
  --color-teal: #08BAB2;
  --color-yellow: #FFDE59;
  --color-purple: #5E17EB;
  --color-google: #4285F4;
}

@layer base {
  body {
    font-family: var(--font-main);
    @apply bg-white text-dark min-h-screen;
  }
  #root {
    @apply min-h-screen flex items-center justify-center;
  }
}
